# Custom XMP properties by Petri Damstén
# exiftool -config exiftool-custom-ns.config -XMP:Shift=11 test.jpg

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        pdplus => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::pdplus',
            },
        },
    },
);

%Image::ExifTool::UserDefined::pdplus = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-pdplus', 2 => 'Image' },
    NAMESPACE => { 'pdplus' => 'http://petridamsten.com/pdplus/1.0/' },
    WRITABLE => 'string',
    Shift => { Writable => 'real' },
    FullInfo => { Writable => 'string' },
    FullLensName => { Writable => 'string' },
    RawBaseName => { Writable => 'string' },
    SquarePosition => { Writable => 'string' },
    HeroPosition => { Writable => 'string' },
    Stand => { Writable => 'string' },
    Remote => { Writable => 'string' },
    Tethering => { Writable => 'string' },
    Trigger => { Writable => 'string' },
    Exposures => { Writable => 'string' },
    Filter => { Writable => 'string' },
    ExtensionTube => { Writable => 'string' },
    Flashes => { 
        Struct => {
            Role => { Writable => 'string' },
            Name => { Writable => 'string' },
            Modifier => { Writable => 'string' },
            Accessory => { Writable => 'string' },
            Power => { Writable => 'string' },
            Gel => { Writable => 'string' },
            ID => { Writable => 'string' },
        },
        List => 'Seq',
    },
);
