:root {
  --background-color: hsl(0, 0%, 12%);
  --background-color-darker: hsl(0, 0%, 5%);
  --font-size: 0.85rem;
  --font-family: 'Helvetica Neue', -apple-system, system-ui, sans-serif;
  --active: 97%;
  --normal: 85%;
  --disabled: 20%;
  --widget-opacity: var(--normal);
}

*, *::before, *::after {
  box-sizing: border-box;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  font: inherit;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: hsla(0, 0%, 100%, var(--widget-opacity));
  border-color: hsla(0, 0%, 100%, var(--widget-opacity));
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 0.5rem;
  overflow: hidden;
}

select, button {
  appearance: none;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  outline: none;
  font-family: var(--font-family);
  margin-bottom: 5px;
  background-color: transparent;
}

select {
  --widget-opacity: var(--normal);
  background-position: right 0.75em center;
  background-repeat: no-repeat;
  background-size: 8px 8px, 8px 8px;
  background-image: -webkit-cross-fade(
    linear-gradient(0deg, transparent, transparent),
    url(svg/icon-down.svg),
    var(--widget-opacity)
  );
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  height: 2rem;
  font-size: var(--font-size);
}

button {
  text-align: center;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem;
}

button img {
  width: 2rem;
  height: 2rem;
  opacity: var(--normal);
}

select img {
  opacity: var(--normal);
}

button:active, button:hover, select:active, select:hover, select:focus, select:focus {
  transition: all 0.2s ease-in-out;
  --widget-opacity: var(--active);
}

.mini-button:active img, .mini-button:hover img {
  opacity: var(--active);
  transition: all 0.2s ease-in-out;
}

.disabled {
  transition: all 0.2s ease-in-out;
  --widget-opacity: var(--disabled);
} 

.disabled img {
  opacity: var(--disabled);
  transition: all 0.2s ease-in-out;
} 

.mini-button {
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 0;
  padding: 0;
} 

.mini-button img {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  margin: 0;
  padding: 0;
} 

.top-bar, .bottom-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  width: 100%;
  background-color: var(--background-color);
  padding-inline: 1rem;
}

.bottom-bar {
  grid-template-columns: min-content 1fr min-content;
  padding-inline: 1rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.icon-bar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  padding-top: 1rem;
}

#scroll-container {
  flex: 1;
  display: grid;
  background-color: var(--background-color-darker);
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  overflow-y: auto;
}

.flash-container {
  background-color: var(--background-color);
  display: grid;
  grid-template-areas:
    "flash-group flash-power"
    "flash-group flash-power"
    "flash-mode flash-power "
    "flash-info-a flash-info-a"
    "flash-info-b flash-info-b";
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  align-items: center;
  justify-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  max-height: 25rem;
}

.flash-group {
  grid-area: flash-group;
  font-weight: bold;
  font-size: 5rem;
  height: 6rem;
  aspect-ratio: 1;
  padding: 0;
  align-self: start;
}

.flash-power {
  grid-area: flash-power;
  font-size: 12rem;
  font-weight: bold;
}

.flash-prefix {
  vertical-align: 2rem;
  font-size: 8rem;
  padding-right: 1rem;
}


.flash-mode {
  grid-area: flash-mode;
  width: 6rem;
}

.flash-info-a {
  grid-area: flash-info-a;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.flash-info-b {
  grid-area: flash-info-b;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

#shutter-button {
  border: none;
  overflow: visible;
}

#shutter-button img {
  width: 4rem;
  height: auto;
  aspect-ratio: 1;
  margin-top: -1rem;
}

#flash-sound-all {
  width: 6rem;
}

#flash-light-all {
  justify-self: end;
  width: 6rem;
}

.active {
  border-color: hsla(0, 0%, 100%, var(--widget-opacity));
}

.popup {
  position: fixed;
  padding: 1rem;
  border-radius: 1rem;
  background: --var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 11;
  position-area: start end;
  top: 3rem;
  right: 6rem;
  min-width: 20rem;
}

.popup:target {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.close-popup {
  background: rgba(0,0,0,.2);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 10;
}

.popup:target + .close-popup{  
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.message {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

